/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ev-daemon-gdbus-generated.c
/ev-daemon-gdbus-generated.h
/ev-gdbus-generated.c
/ev-gdbus-generated.h
/ev-resources.c
/evince
/evinced
/so_locations
/tags
