/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ev-document-type-builtins.c
/ev-document-type-builtins.h
/ev-version.h
/libevdocument3.la
/so_locations
/stamp-ev-document-type-builtins.c
/stamp-ev-document-type-builtins.h
/tags
