/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/evince-previewer.desktop
/evince-previewer.desktop.in
/evince.desktop
/evince.desktop.in
/org.gnome.Evince.gschema.valid
/org.gnome.Evince.gschema.xml
/org.gnome.evince.Daemon.service
/so_locations
/tags
